{% extends "/home/mbesto/webapps/brosef/mytemplates/squash/base.html" %}

{% block scripts %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui-1.8.9.custom.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script src="{{ MEDIA_URL }}js/jquery-ui-1.8.9.custom.min.js"></script>

<script>
	$(function() {
		$( "#id_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
	});
</script>
{% endblock %}

{% block title %}Add Match{% endblock %}

{% block content %}

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}